<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/id_logo_isss"
        android:label="ISSS salud"
        android:roundIcon="@drawable/id_logo_isss"
        android:supportsRtl="true"
        android:theme="@style/Theme.ISSS_Salud"
        tools:targetApi="31">
        <activity
            android:name=".activity_card_citas"
            android:exported="false" />
        <activity
            android:name=".activity_Noticias_completas"
            android:exported="false" />
        <activity
            android:name=".activity_card_noticias"
            android:exported="false" />
        <activity
            android:name=".activity_editar_perfil"
            android:exported="false" />
        <activity
            android:name=".activity_perfil"
            android:exported="false" />
        <activity
            android:name=".activity_mensajeria"
            android:exported="false" />
        <activity
            android:name=".activity_citas_agendadas"
            android:exported="false" />
        <activity
            android:name=".activity_citas_medicas"
            android:exported="false" />
        <activity
            android:name=".activity_noticias"
            android:exported="false" />
        <activity
            android:name=".activity_nueva_contrasena"
            android:exported="false" />
        <activity
            android:name=".activity_cambio_contrasena"
            android:exported="false" />
        <activity
            android:name=".activity_envio_correo"
            android:exported="false" />
        <activity
            android:name=".activity_contrasena_enlace"
            android:exported="false" />
        <activity
            android:name=".activity_registrarse"
            android:exported="false" />
        <activity
            android:name=".activity_ingreso"
            android:exported="false" />
        <activity
            android:name=".activity_pantalla_carga"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:exported="true" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>